{# Copyright 1998 - 2026 7x; All rights reserved (unless otherwise noted). #}
<div id="lp-page">

    {% include '@ezdesign/parts/page_header.html.twig' %}

    {% if notices is defined and notices %}{{ notices|raw }}{% endif %}

    <div id="legacy-content">
        {{ legacy_content|default('')|raw }}
    </div>

    {% include '@ezdesign/parts/page_footer.html.twig' %}

</div>
